saxsaxsa
<div>

  Anastasia, {{hello}}

  <div ng-repeat="film in films" ng-model="films">
    <h3> {{film.title}} </h3>
    <img src={{film.urlPoster}}>
    Year - {{film.year}}
    Rating - {{film.rating}}
    <h4> Genres</h4>
    <div ng-repeat="genre in film.genres">
      {{genre}}
    </div>
    <div ng-repeat="country in film.countries">
      {{country}}
    </div>
    Directors
    <div ng-repeat="director in film.directors">
      <a ng-href={{linkToAuthor+director.id}} > {{director.name}} </a>
    </div>
  </div>
</div>
